<?xml version="1.0" encoding="UTF-8"?>
<suite configfailurepolicy="continue" name="Suite" parallel="none">
	<test name="Test" preserve-order="true">
		<classes>
			<class name="commonMethods.Testcases" />
		</classes>
		<methods>
			<include name="TC_Service_Creation_SC03" priority="3" />
			
		</methods>
	</test>
	<listeners>
		<listener class-name="atu.testng.reports.listeners.ATUReportsListener" />
		<listener
			class-name="atu.testng.reports.listeners.ConfigurationListener" />
		<listener class-name="atu.testng.reports.listeners.MethodListener" />
	</listeners>
</suite>